body {
    text-align: center;
}

.calculator {
    text-align: center;
    font-size: 35px;
    margin: 5% 5% 5%;
    padding-left: 3%;
    font-family: "微軟正黑體", serif;
    font-weight: bolder;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    padding: 10px 0;
}

.tag {
    width: 360px;
    text-align: center;
}

input {
    margin-left: 5%;
    font-size: 30px;
}
.calc {
    font-size: 30px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    max-width: 20%;
    padding: 0;
}

.hidden {
    display: none;
}

.highlight {
    font-size: 35px;
    color: #D07378;
    font-family: "微軟正黑體", serif;
    font-weight: bolder;
}

.attachment {
    max-width: 90vw;
    max-height: 70vh;
    border: #ff5a1f solid 5px;
    background: white;
    cursor: pointer;
}

table {
    width: 80%;
    margin: 0 auto;
    font-family: "微軟正黑體", serif;
    font-size: 30px;
}

td {
    padding: 2% 3%;
}

thead {
    font-weight: bolder;
    font-size: 35px;
}

td:nth-child(1) {
    width: 25%;
    font-weight: bolder;
    font-size: 35px;
}

.description {
    font-size: 25px;
}

.calc_hidden {
    display: none;
}

.lower {
    color: green;
    font-weight: bolder;
}

.single_color {
    color: black;
    background-color: #BFDFA4;
}

.double_color {
    color: black;
    background-color: #FAAAB7;
}

.no_swift_color {
    color: black;
    background-color: lightgreen;
}

.swift_color {
    color: black;
    background-color: lightpink;
}

.sing_thead {
    background: #BFDFA4;
}

.sing_tbody {
    background: #DCEED4;
}

.doub_thead {
    background: #FAAAB7;
}

.doub_tbody {
    background: #FEE0E1;
}

.calc_result {
    margin-top: 50px;
    text-align: center;
}