.attachment {
    display: block;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    border-radius: 10px;
    max-width: 90vw;
    max-height: 50vh;

    margin: 0 auto;
}

.paragraph {
    display: block;
    font-size: 35px;
    font-family: "微軟正黑體", serif;
    text-align: left;
    color: #838383;
    margin: 3%;
}

.point {
    position: relative;
    left: 70px;
    color: #4CB1B7;
    font-size: 50px;
    font-weight: bolder;
}

.point::before {
    content: "";
    background: url("../resources/therapy/point.png") no-repeat;
    background-size: 60px auto;
    height: 103px;
    width: 77px;
    position: absolute;
    left: -70px;
}

.highlight {
    font-size: 40px;
    color: #4CB1B7;
    font-family: "微軟正黑體", serif;
}

.button_block {
    display: block;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

button {
    width: 100%;
    min-height: 10vh;
    font-size: 70px;
    padding: 30px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 70px;
    font-family: syofong;
}

.img-title {
    max-height: 100px;
}

.img-title-span {
    margin: 3% 3% -1%;
}

.content {
    font-size: 30px;
    position: relative;
    left: 70px;
}

.bar {
    border-color: #E07F9B;
    width: 70vw;
    margin: 3vh auto;
}

.warming {
    display: inline-block;
    padding: 0;
    margin: 0;
}