body {
    text-align: center;
}

.detail {
    font-weight: bolder;
    color: #7D7D7D;
}

.detail::before {
    content: "●";
    color: #E7B8B9;
}

.number {
    font-size: 60px;
}

.option_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.option {
}

.option_img {
    width: 28%;
    height: 28%;
}

.description {
    display: inline-block;
    float: right;
}

.highlight {
    font-size: 40px;
    color: #DC5D75;
    font-family: "微軟正黑體", serif;
    font-weight: bolder;
}

.highlight2 {
    color: #31A7A9;
}

.option .paragraph {
    margin-left: 80px;
}