.page_top {
    display: flex;
    align-items: center;
    text-align: left;
    min-height: 30vmin;
    width: 100%;
    font-family: "微軟正黑體", serif;
    font-weight: bold;
    font-size: 8vmin;
    color: white;
}

.page_top::before {
    font-size: 100px;
    font-weight: bolder;
    margin: 2% 5%;
    padding: 2%;
    background: white;
}

.step1 {
    background: #8CD0BA;
}

.step1_5 {
    background: #E6B7BE;
}

.step2 {
    background: #BF8A8B;
}

.step2_5 {
    background: #98A4CE;
}

.step1::before {
    content: "01";
    color: #8CD0BA;
}

.step1_5::before {
    content: "01";
    color: #E6B7BE;
}

.step2::before {
    content: "02";
    color: #BF8A8B;
}

.step2_5::before {
    content: "02";
    color: #98A4CE;
}